.bar {
  display: flex;
  width: 270px;
  height: 20px;
  min-height: 20px;
  background-color: #e3f2fd;
  border-bottom: 1px solid black;
  justify-content: space-evenly;
  color: black;
}

.heading {
  margin: 2px 5px;
}

.time {
  font-size: 16px;
}

.battery {
  font-size: 14px;
  border: 1px solid black;
  border-top: 0px;
  border-bottom: 0px;
  padding: 2px;
}
