.settings {
  height: 100%;
}

.settings h2 {
  color: aquamarine;
  font-size: 40px;
}

.setting-option {
  padding: 4%;
  padding-right: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  cursor: pointer;
  background-color: burlywood;
  font-size: 18px;
}

.active::after {
  content: ">";
  padding-right: 20%;
}

.active {
  background-color: blue;
  color: white;
}
